[project]
	description = Eclipse plugin validating the rules of the Object Calisthenics
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
[access "refs/for/refs/*"]
	read = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	push = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	label-Code-Review = -2..+2 group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	label-Verified = -1..+1 group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	rebase = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	removeReviewer = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	submit = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
[access "refs/heads/*"]
	read = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	create = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	push = +force group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	pushMerge = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
[access "refs/tags/*"]
	push = +force group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	pushTag = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
	pushSignedTag = group user/Fabian Schwarz-Fritz (fabianschwarzfritz)
